body {
  background-color: #674BAF;
  background-image: url("../images/bg-desktop.svg");
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h1 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

p {
  color: #ffffff;
}

.nav {
  padding: 50px 0 0 50px;
}

.huddle-logo {
  width: 15%;
}

.wrapper {
  min-height: 250px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.box-one {
  line-height: 2em;
  padding: 50px;
}

.box-two {
  padding: 70px 50px 50px 30px;
}

.content {
  padding-bottom: 30px;
  line-height: 1.50rem;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 75px;
  background: #ffffff;
  color: #674BAF;
  padding: 10px 50px 10px 50px;
}

.btn:hover {
  background: linear-gradient(#B589FE,#A948BD)
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #95A7FC; }

.icons {
  color: #ffffff;
  padding: 200px 20px 0 0;
  position: absolute;
  right: 50px;

}
